<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13TRIS</title>
    <link rel="stylesheet" href="../../static/tetris_app/css/app.css">
</head>
<body>
        <img src="{% static '/tetris_app/img/Logo_full.png'%}" class="img-fluid" alt="Logo" style="width:25%">
        <h2>FAQ</h2>

        <a class="link-primary" href="home"> Zurück zur Startseite </a>

        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>

        <a class="link-primary" href="home"> Zurück zur Startseite </a>
    </div>
</body>
</html>