{% extends 'tetris_app/base.html' %}
{% load static %}
{% block content %}
    <div class="p-5">
        <H1 class="display-1">
            F<span class="display-6">requently</span>.
            A<span class="display-6">sked</span>.
            Q<span class="display-6">uestions</span>.
        </H1>
        <hr>

        <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">

            <div class="accordion-item"> <!-- FAQ -->
                <h2 class="accordion-header" id="QuestionFAQ">
                    <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionFAQCollapse" aria-expanded="true"
                            aria-controls="QuestionFAQCollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 18px;">
                            <i class="bi bi-quora me-2 show text-danger" id="QuestionFAQCollapse"></i>
                            <i class="bi bi-suit-heart-fill me-2 collapse text-danger"
                               id="QuestionFAQCollapse"></i>
                        </span>
                        What is this FAQ meant for ?
                        <span id="QuestionFAQCollapse" class="collapse ms-1">
                            To answer Questions !
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p>
                            <strong>This FAQ is supposed to clear up general questions about 13TRIS.</strong> Since
                            we're no
                            <code>UX/UI</code> experts, some things might not be clear from the get-go. On this page, we
                            will try to address questions someone could have while browsing our website. Since we don't
                            have
                            a form or any kind of feedback inbox to ask questions directly on here, please refer to our
                            <a href="https://github.com/13TRIS/13TRIS/issues"
                               class="text-decoration-none badge bg-dark link-light"
                               target="_blank">
                                Github
                                <i class="bi bi-github"></i>
                            </a>
                            page and ask there. We hope to clear
                            up most of the questions on here.
                        </p>
                        <p>
                            Some questions have a short answer always open (like this part), some don't. But all of them
                            have a body you can expand via the questions title. Just click on them reveal the rest of
                            their card.
                        </p>
                    </div>
                </div>
                <div id="QuestionFAQCollapse" class="accordion-collapse collapse collapse"
                     aria-labelledby="QuestionFAQ">
                    <div class="accordion-body">
                        Thank you,<br>
                        Team 13TRIS <i class="bi bi-robot"></i>
                    </div>
                </div>
            </div> <!-- FAQ -->

            <div class="accordion-item"> <!-- Website -->
                <h2 class="accordion-header" id="QuestionWebsite">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionWebsitecollapse" aria-expanded="false"
                            aria-controls="QuestionWebsitecollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionWebsitecollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionWebsitecollapse"></i>
                        </span>
                        What is this Website ? Where am I ?
                        <span id="QuestionWebsitecollapse" class="collapse ms-1">
                            Obviously on https://13tris.mkrabs.duckdns.org/faq !
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>13TRIS is the Project we
                            <a href="{% url 'impressum' %}"
                               class="text-decoration-none badge bg-primary link-light"
                               target="_blank">
                                5 <i class="bi bi-people-fill"></i>
                            </a>
                            developed for the lecture of Software engineering 1&2 at the</strong>
                        <a href="https://www.karlsruhe.dhbw.de/" target="_blank" class="text-decoration-none">
                            <img src="https://upload.wikimedia.org/wikipedia/de/1/1d/DHBW-Logo.svg"
                                 alt="DHBW" style="max-height: 2em">
                        </a>
                        <strong>during the course of two semesters.</strong>
                    </div>
                </div>
                <div id="QuestionWebsitecollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionWebsite">
                    <div class="accordion-body">
                        <p>
                            13TRIS is meant to be a dummy project for us to develop, while at the same time playing the
                            roles of the project management team. It's a great way to get a glimpse of how companies
                            manage the development of their software and all the thoughts that go into resource
                            planning. The goal was not to programm however we wanted, in a chaotic and thoughtless way,
                            but to structure and lay out a plan / future steps for the development process.
                        </p>
                        <p>
                            To keep things organized we utilized the following services to help us maintain controll
                            over everything:
                            <a href="https://13tris.dkoeck.de/blog/s3-w2-setting-the-baseline/"
                               class="text-decoration-none badge bg-dark link-light"
                               target="_blank">
                                Blog post S3 W2 <img
                                    src="https://13tris.dkoeck.de/wp-content/uploads/2021/10/cropped-Logo_small-1-32x32.png"
                                    alt="DHBW" style="max-height: 1.2em">
                            </a>
                        </p>
                    </div>
                </div>
            </div> <!-- Website -->

            <div class="accordion-item"> <!-- 13TRIS -->
                <h2 class="accordion-header" id="Question13TRIS">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Question13TRIScollapse" aria-expanded="false"
                            aria-controls="Question13TRIScollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="Question13TRIScollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="Question13TRIScollapse"></i>
                        </span>
                        What is 13TRIS?
                        <span id="Question13TRIScollapse" class="collapse ms-1">
                            A Game !
                        </span>
                    </button>
                </h2>
                <div id="Question13TRIScollapse" class="accordion-collapse collapse"
                     aria-labelledby="Question13TRIS">
                    <div class="accordion-body">
                        <strong>13TRIS is the world's <sup class="text-decoration-none">(maybe not)</sup> first block
                            placing game with a special twist !</strong><br>
                        13TRIS is the name of our spin-off from the classic game Tetris, but with some features and cool
                        things added. One feature is that every 13th block is a special block with evil powers. the
                        other feature is the multiplayer. Being able to play against other players is something the
                        original Tetris didn't provide in this magnitude (we will ignore the existence of Tetris99 for
                        the sake of this argument).
                    </div>
                </div>
            </div> <!-- 13TRIS -->

            <div class="accordion-item"> <!-- Navigation -->
                <h2 class="accordion-header" id="QuestionNavigation">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionNavigationcollapse" aria-expanded="false"
                            aria-controls="QuestionNavigationcollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionNavigationcollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionNavigationcollapse"></i>
                        </span>
                        How do I navigate this jungle of a website ?
                        <span id="QuestionNavigationcollapse" class="collapse ms-1">
                            With google maps ! <i class="bi bi-pin-map-fill"></i>
                        </span>
                    </button>
                </h2>
                <div id="QuestionNavigationcollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionNavigation">
                    <div class="accordion-body">
                        To go back to the homepage, you click the 13TRIS logo up in the top-right corner (up there
                        somewhere <i class="bi bi-box-arrow-in-up-right"></i>). The rest is pretty self-explanatory.
                        Can't you read?
                    </div>
                </div>
            </div> <!-- Navigation -->

            <div class="accordion-item"> <!-- Solo -->
                <h2 class="accordion-header" id="QuestionSolo">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionSolocollapse" aria-expanded="false"
                            aria-controls="QuestionSolocollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionSolocollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionSolocollapse"></i>
                        </span>
                        How do I play 13TRIS ?
                        <span id="QuestionSolocollapse" class="collapse ms-1">
                            With a keyboard ! <i class="bi bi-keyboard"></i>
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body border-start border-end border-danger border-3 mt-3 mb-3 rounded">
                        <i class="bi bi-exclamation-triangle-fill text-danger"></i>
                        Playing without an Account will <strong>NOT save your scores</strong> or whatsoever anywhere.
                        How could even do that? We're not fingerprinting your device to serve you advertisement based of
                        your cursor movements or average score or anything... unless 😳👉👈 ? <span
                            id="QuestionSolocollapse" class="accordion-collapse collapse bg-danger bg-opacity-10"
                            aria-labelledby="QuestionSolo">
                            Anyway, THIS WEBSITE IS BROUGHT TO YOU BY <strong>SHITTY VPN <i
                            class="bi bi-arrow-repeat"></i></strong>, THE WORLDWIDE
                        ONLINE SERVICE TO ROUTE ALL YOUR TRAFFIC INSIDE OUR SHADY CLOSE SOURCE SERVER TO
                        <del>SELL TO OUR TOP BIDDING ADVERTISEMENT COMPANIES</del>
                        PROTECT YOUR ONLIN ACTIVITIES !! (sorry, but not really)</span>
                    </div>
                </div>
                <div id="QuestionSolocollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionSolo">
                    <div class="accordion-body">
                        <span class="display-6">Minimum requirements:</span>
                        <ul>
                            <li><i class="bi bi-router-fill"></i> An internet connection</li>
                            <li><i class="bi bi-keyboard"></i> A keyboard with at least the following keys working:</li>
                            <ul>
                                <li><kbd><i class="bi bi-arrow-left"></i></kbd> Left</li>
                                <li><kbd><i class="bi bi-arrow-right"></i></kbd> Right</li>
                                <li>
                                    <del><kbd><i class="bi bi-arrow-down"></i></kbd> Down</del>
                                    not strictly needed, but the gameplay is going to slow down significantly...
                                </li>
                                <li><kbd><i class="bi bi-arrow-return-left"></i></kbd> Enter</li>
                            </ul>
                        </ul>

                        <span class="display-6">Recommended requirements:</span>
                        <ul>
                            <li><i class="bi bi-router-fill"></i> An internet connection with at least 100mB/s down and
                                25kB/s up.
                            </li>
                            <li><i class="bi bi-keyboard"></i> A fully working keyboard.</li>
                            <li><i class="bi bi-mouse"></i> A Mouse (needs to be plugged into the same computer you want
                                to play on).
                            </li>
                            <li><i class="bi bi-person-badge-fill"></i> A registered account, one you didn't steal from
                                someone. Why would you though? Crime is illegal.
                            </li>
                        </ul>

                        <span class="display-6">How to play a solo game (an in-depth guide):</span>
                        <ol>
                            <li>
                                Login with your own account <a href="{% url 'login' %}" target="_blank">here</a>. <br>
                                <i>(Note: if you chose to play without an account, visit the solo game <a
                                        href="{% url 'game-solo' %}" target="_blank">page</a>
                                    and continue this tutorial.</i>
                            </li>
                            <li>
                                Either press the <kbd>enter</kbd> key, or use the mouse cursor <i
                                    class="bi bi-cursor"></i> and aim somewhere near
                                (chrome users need to aim lower than usual, I really don't know why) the 'START' and
                                press the primary button.
                            </li>
                            <li>
                                Use the arrow keys on your functional keyboard to move the falling blocks to your will.
                                <div class="d-inline-block">
                                    <i class="bi bi-arrow-up-square-fill invisible"></i>
                                    <i class="bi bi-arrow-up-square-fill"></i><br>
                                    <i class="bi bi-arrow-left-square-fill"></i>
                                    <i class="bi bi-arrow-down-square-fill"></i>
                                    <i class="bi bi-arrow-right-square-fill"></i>
                                </div>
                                <ul>
                                    <li>
                                        <i class="bi bi-arrow-up-square-fill"></i> Up is used for nothing, but I
                                        didn't feel like removing this key from the list, so it stays for no good
                                        reason.
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-left-square-fill"></i> Left is used to move the block one
                                        tile to the right. The other right !
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-down-square-fill"></i> Pressing down will move the current
                                        block one tile down, without having to wait on the slooow timer to do it
                                        automatically... Useless piece of silicon not even doing everything by itself.
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-right-square-fill"></i> Right is used to move the block
                                        one tile to the right as well ! If they moved left, it wouldn't be .. right. You
                                        only can win !!1! No need to thank me.
                                    </li>
                                </ul>
                            </li>
                            <li>While playing solo, you can always press <kbd>esc</kbd> to pause the game (and have some
                                settings to play with, if you're bored with the game already).
                            </li>
                            <li>Repeat the above until the new block has no space to spawn (which is called spawn
                                killing), and end the game with a total score of { % user.game.score % } !!
                            </li>
                            <li>After the game ended you need to manually go back to the home page, where you can see
                                the disappointment you are compared to the all-time top scores. (Just kidding, you
                                probably gave your best. I can't know, I"m just a FAQ webpage...)
                            </li>
                        </ol>
                    </div>
                </div>
            </div> <!-- Solo -->

            <div class="accordion-item"> <!-- Template -->
                <h2 class="accordion-header" id="QuestionMultiplayer">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionMultiplayercollapse" aria-expanded="false"
                            aria-controls="QuestionMultiplayercollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionMultiplayercollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionMultiplayercollapse"></i>
                        </span>
                        How to play multiplayer ?
                        <span id="QuestionMultiplayercollapse" class="collapse ms-1">
                            You don't !
                        </span>
                    </button>
                </h2>
                <div id="QuestionMultiplayercollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionMultiplayer">
                    <div class="accordion-body">
                        Multiplayer does not work as of now. We're really sorry for the inconvenience. Please don't cry
                        too much. We're working day and night to make ths dream come true. Come back tomorrow to see if
                        it got added, if not repeat this step until it gets added !
                        <div class="align-content-center text-center">
                            <img src="https://c.tenor.com/VrNYXs-O3WwAAAAC/sad-cat.gif"
                                 alt="POV_youre_the_dev_after_telling_them_multiplayer_doesnt_work"
                                 class="w-50 img-fluid m-3">
                        </div>


                    </div>
                </div>
            </div> <!-- Template -->

            <div class="accordion-item"> <!-- Friends -->
                <h2 class="accordion-header" id="QuestionFriends">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionFriendscollapse" aria-expanded="false"
                            aria-controls="QuestionFriendscollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionFriendscollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionFriendscollapse"></i>
                        </span>
                        What are friends ?
                        <span id="QuestionFriendscollapse" class="collapse ms-1">
                            We don't know !
                        </span>
                    </button>
                </h2>
                <div id="QuestionFriendscollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionFriends">
                    <div class="accordion-body">
                        <p>
                            Friends are nothing more than atoms floating in space. An endo-skeleton full of organs,
                            protected by a meat shield and some decorative cloths.
                        </p>
                        <p>
                            Jokes aside, friends <i class="bi bi-person-fill"></i> can be added by adding their
                            <i>exact</i> username into the username field next to the "Add friend" button. By doing so
                            you agree to sell your soul to the Tetris gods and rightfully abandon all of your material
                            possessions in order to become one with the tetronomicons.
                        </p>
                        <p>
                            Once a friend is added (you don't need their consent to add them, which is very weird if you
                            think about it, but we weren't motivated enough to implement some sort of inbox for others
                            to accept or deny your friend request. So everyone has to deal with it), you can invite them
                            into your own lobby and play against them.
                        </p>
                    </div>
                </div>
            </div> <!-- Friends -->

            <div class="accordion-item"> <!-- Lobby -->
                <h2 class="accordion-header" id="QuestionLobby">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionLobbycollapse" aria-expanded="false"
                            aria-controls="QuestionLobbycollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionLobbycollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionLobbycollapse"></i>
                        </span>
                        Lobbies ?
                        <span id="QuestionLobbycollapse" class="collapse ms-1">
                            You mean legal corruption !
                        </span>
                    </button>
                </h2>
                <div id="QuestionLobbycollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionLobby">
                    <div class="accordion-body">
                        <p>
                            Lobbies are places to hang out and not exchange any messages, because there isn't a chat
                            function. But at least you can see their name.
                        </p>
                        <p>
                            Lobbies have <strong class="text-danger">one</strong> admin <i
                                class="bi bi-person-fill text-danger"></i> , the user who created it. No one
                            else. Why? Ask Felix.
                        </p>
                        <p>
                            Once the admin decides enough people have been invite, he/she/it can begin the game and send
                            everyone, including the admin, into a hunger games type of mode, excluding the <span
                                class="text-success fw-bold">78.000.000$</span>
                            budget. Ours was... <span class="text-success fw-bold">0€</span>! Last one standing wins!
                            Material Weapons not allowed. Hacking and ddos'ing is for some reason...
                        </p>
                    </div>
                </div>
            </div> <!-- Lobby -->

            <div class="accordion-item"> <!-- Template -->
                <h2 class="accordion-header" id="QuestionTTT">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionTTTcollapse" aria-expanded="false"
                            aria-controls="QuestionTTTcollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionTTTcollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionTTTcollapse"></i>
                        </span>
                        Template ?
                        <span id="QuestionTTTcollapse" class="collapse ms-1">
                            Template !
                        </span>
                    </button>
                </h2>
                <div id="QuestionTTTcollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionTTT">
                    <div class="accordion-body">
                        There is <strong>nothing</strong> important written here. You might as well skip this
                        <code>FAQ</code> point. Don't click <a href="https://youtu.be/jCLKOSvGXAw"
                                                               target="_blank">here</a>.
                    </div>
                </div>
            </div> <!-- Template -->


        </div>

    </div>

{% endblock %}
