{% extends 'tetris_app/base.html' %}
{% load static %}
{% block content %}
    <div class="p-5">
        <H1 class="display-1">
            F<span class="display-6">requently</span>.
            A<span class="display-6">sked</span>.
            Q<span class="display-6">uestions</span>.
        </H1>
        <hr>

        <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">

            <div class="accordion-item"> <!-- FAQ -->
                <h2 class="accordion-header" id="Question1">
                    <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Question1Collapse" aria-expanded="true"
                            aria-controls="Question1Collapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 18px;">
                            <i class="bi bi-quora me-2 show text-danger" id="Question1Collapse"></i>
                            <i class="bi bi-suit-heart-fill me-2 collapse text-danger"
                               id="Question1Collapse"></i>
                        </span>
                        What is this FAQ meant for ?
                        <span id="Question1Collapse" class="collapse ms-1">
                            To answer Questions !
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p>
                            <strong>This FAQ is supposed to clear up general questions about 13TRIS.</strong> Since
                            we're no
                            <code>UX/UI</code> experts, some things might not be clear from the get-go. On this page, we
                            will try to address questions someone could have while browsing our website. Since we don't
                            have
                            a form or any kind of feedback inbox to ask questions directly on here, please refer to our
                            <a href="https://github.com/13TRIS/13TRIS/issues"
                               class="text-decoration-none badge bg-dark link-light"
                               target="_blank">
                                Github
                                <i class="bi bi-github"></i>
                            </a>
                            page and ask there. We hope to clear
                            up most of the questions on here.
                        </p>
                        <p>
                            Some questions have a short answer always open (like this part), some don't. But all of them
                            have a body you can expand via the questions title. Just click on them reveal the rest of
                            their card.
                        </p>
                    </div>
                </div>
                <div id="Question1Collapse" class="accordion-collapse collapse collapse"
                     aria-labelledby="Question1">
                    <div class="accordion-body">
                        Thank you,<br>
                        Team 13TRIS <i class="bi bi-robot"></i>
                    </div>
                </div>
            </div> <!-- FAQ -->

            <div class="accordion-item"> <!-- Website -->
                <h2 class="accordion-header" id="Question2">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Question2collapse" aria-expanded="false"
                            aria-controls="Question2collapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="Question2collapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="Question2collapse"></i>
                        </span>
                        What is this Website ? Where am I ?
                        <span id="Question2collapse" class="collapse ms-1">
                            Obviously on https://13tris.mkrabs.duckdns.org/faq !
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>13TRIS is the Project we
                            <a href="{% url 'impressum' %}"
                               class="text-decoration-none badge bg-primary link-light"
                               target="_blank">
                                5 <i class="bi bi-people-fill"></i>
                            </a>
                            developed for the lecture of Software engineering 1&2 at the</strong>
                        <a href="https://www.karlsruhe.dhbw.de/" target="_blank" class="text-decoration-none">
                            <img src="https://upload.wikimedia.org/wikipedia/de/1/1d/DHBW-Logo.svg"
                                 alt="DHBW" style="max-height: 2em">
                        </a>
                        <strong>during the course of two semesters.</strong>
                    </div>
                </div>
                <div id="Question2collapse" class="accordion-collapse collapse"
                     aria-labelledby="Question2">
                    <div class="accordion-body">
                        <p>
                            13TRIS is meant to be a dummy project for us to develop, while at the same time playing the
                            roles of the project management team. It's a great way to get a glimpse of how companies
                            manage the development of their software and all the thoughts that go into resource
                            planning. The goal was not to programm however we wanted, in a chaotic and thoughtless way,
                            but to structure and lay out a plan / future steps for the development process.
                        </p>
                        <p>
                            To keep things organized we utilized the following services to help us maintain controll
                            over everything:
                            <a href="https://13tris.dkoeck.de/blog/s3-w2-setting-the-baseline/"
                               class="text-decoration-none badge bg-dark link-light"
                               target="_blank">
                                Blog post S3 W2 <img
                                    src="https://13tris.dkoeck.de/wp-content/uploads/2021/10/cropped-Logo_small-1-32x32.png"
                                    alt="DHBW" style="max-height: 1.2em">
                            </a>
                        </p>
                    </div>
                </div>
            </div> <!-- Website -->

            <div class="accordion-item"> <!-- 13TRIS -->
                <h2 class="accordion-header" id="Question3">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Question3collapse" aria-expanded="false"
                            aria-controls="Question3collapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="Question3collapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="Question3collapse"></i>
                        </span>
                        What is 13TRIS?
                        <span id="Question3collapse" class="collapse ms-1">
                            A Game !
                        </span>
                    </button>
                </h2>
                <div id="Question3collapse" class="accordion-collapse collapse"
                     aria-labelledby="Question3">
                    <div class="accordion-body">
                        <strong>13TRIS is the world's <sup class="text-decoration-none">(maybe not)</sup> first block
                            placing game with a special twist !</strong><br>
                        13TRIS is the name of our spin-off from the classic game Tetris, but with some features and cool
                        things added. One feature is that every 13th block is a special block with evil powers. the
                        other feature is the multiplayer. Being able to play against other players is something the
                        original Tetris didn't provide in this magnitude (we will ignore the existence of Tetris99 for
                        the sake of this argument).
                    </div>
                </div>
            </div> <!-- 13TRIS -->

            <div class="accordion-item"> <!-- Solo -->
                <h2 class="accordion-header" id="Question4">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Question4collapse" aria-expanded="false"
                            aria-controls="Question4collapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="Question4collapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="Question4collapse"></i>
                        </span>
                        How do I play 13TRIS ?
                        <span id="Question4collapse" class="collapse ms-1">
                            With a keyboard ! <i class="bi bi-keyboard"></i>
                        </span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse show">
                    <div class="accordion-body border-start border-end border-danger border-3 mt-3 mb-3 rounded">
                        <i class="bi bi-exclamation-triangle-fill text-danger"></i>
                        Playing without an Account will <strong>NOT save your scores</strong> or whatsoever anywhere.
                        How could even do that? We're not fingerprinting your device to serve you advertisement based of
                        your cursor movements or average score or anything... unless 😳👉👈 ? <span
                            id="Question4collapse" class="accordion-collapse collapse bg-danger bg-opacity-10"
                            aria-labelledby="Question4">
                            Anyway, THIS WEBSITE IS BROUGHT TO YOU BY <strong>SHITTY VPN <i
                            class="bi bi-arrow-repeat"></i></strong>, THE WORLDWIDE
                        ONLINE SERVICE TO ROUTE ALL YOUR TRAFFIC INSIDE OUR SHADY CLOSE SOURCE SERVER TO
                        <del>SELL TO OUR TOP BIDDING ADVERTISEMENT COMPANIES</del>
                        PROTECT YOUR ONLIN ACTIVITIES !! (sorry, but not really)</span>
                    </div>
                </div>
                <div id="Question4collapse" class="accordion-collapse collapse"
                     aria-labelledby="Question4">
                    <div class="accordion-body">
                        <span class="display-6">Minimum requirements:</span>
                        <ul>
                            <li><i class="bi bi-router-fill"></i> An internet connection</li>
                            <li><i class="bi bi-keyboard"></i> A keyboard with at least the following keys working:</li>
                            <ul>
                                <li><kbd>left</kbd></li>
                                <li><kbd>right</kbd></li>
                                <li>
                                    <del><kbd>down</kbd></del>
                                    not strictly needed, but the gameplay is going to slow down significantly...
                                </li>
                                <li><kbd>enter</kbd></li>
                            </ul>
                        </ul>

                        <span class="display-6">Recommended requirements:</span>
                        <ul>
                            <li><i class="bi bi-router-fill"></i> An internet connection with at least 100mB/s down and
                                25kB/s up.
                            </li>
                            <li><i class="bi bi-keyboard"></i> A fully working keyboard.</li>
                            <li><i class="bi bi-mouse"></i> A Mouse (needs to be plugged into the same computer you want
                                to play on).
                            </li>
                            <li><i class="bi bi-person-badge-fill"></i> A registered account, one you didn't steal from
                                someone. Why would you though? Crime is illegal.
                            </li>
                        </ul>

                        <span class="display-6">How to play a solo game (an in-depth guide):</span>
                        <ol>
                            <li>
                                Login with your own account <a href="{% url 'login' %}" target="_blank">here</a>. <br>
                                <i>(Note: if you chose to play without an account, visit the solo game <a
                                        href="{% url 'game-solo' %}" target="_blank">page</a>
                                    and continue this tutorial.</i>
                            </li>
                            <li>
                                Either press the <kbd>enter</kbd> key, or use the mouse cursor <i
                                    class="bi bi-cursor"></i> and aim somewhere near
                                (chrome users need to aim lower than usual, I really don't know why) the 'START' and
                                press the primary button.
                            </li>
                            <li>
                                Use the arrow keys on your functional keyboard to move the falling blocks to your will.
                                <div class="d-inline-block">
                                    <i class="bi bi-arrow-up-square-fill invisible"></i>
                                    <i class="bi bi-arrow-up-square-fill"></i><br>
                                    <i class="bi bi-arrow-left-square-fill"></i>
                                    <i class="bi bi-arrow-down-square-fill"></i>
                                    <i class="bi bi-arrow-right-square-fill"></i>
                                </div>
                                <ul>
                                    <li>
                                        <i class="bi bi-arrow-up-square-fill"></i> Up is used for nothing, but I
                                        didn't feel like removing this key from the list, so it stays for no good
                                        reason.
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-left-square-fill"></i> Left is used to move the block one
                                        tile to the right. The other right !
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-down-square-fill"></i> Pressing down will move the current
                                        block one tile down, without having to wait on the slooow timer to do it
                                        automatically... Useless piece of silicon not even doing everything by itself.
                                    </li>
                                    <li>
                                        <i class="bi bi-arrow-right-square-fill"></i> Right is used to move the block
                                        one tile to the right as well ! If they moved left, it wouldn't be .. right. You
                                        only can win !!1! No need to thank me.
                                    </li>
                                </ul>
                            </li>
                            <li>While playing solo, you can always press <kbd>esc</kbd> to pause the game (and have some
                                settings to play with, if you're bored with the game already).
                            </li>
                            <li>Repeat the above until the new block has no space to spawn (which is called spawn
                                killing), and end the game with a total score of { % user.game.score % } !!
                            </li>
                            <li>After the game ended you need to manually go back to the home page, where you can see
                                the disappointment you are compared to the all-time top scores.
                            </li>
                        </ol>
                    </div>
                </div>
            </div> <!-- Solo -->

            <div class="accordion-item"> <!-- Template -->
                <h2 class="accordion-header" id="QuestionTTT">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#QuestionTTTcollapse" aria-expanded="false"
                            aria-controls="QuestionTTTcollapse">
                        <span class="overflow-hidden" style="max-width: 24px; max-height: 20px;">
                            <i class="bi bi-bookmark-dash-fill me-2 show" id="QuestionTTTcollapse"></i>
                            <i class="bi bi-bookmark-check-fill me-2 collapse text-success"
                               id="QuestionTTTcollapse"></i>
                        </span>
                        Template ?
                        <span id="QuestionTTTcollapse" class="collapse ms-1">
                            Template !
                        </span>
                    </button>
                </h2>
                <div id="QuestionTTTcollapse" class="accordion-collapse collapse"
                     aria-labelledby="QuestionTTT">
                    <div class="accordion-body">
                        There is <strong>nothing</strong> important written here. You might as well skip this
                        <code>FAQ</code> point. Don't click <a href="https://youtu.be/jCLKOSvGXAw"
                                                               target="_blank">here</a>.
                    </div>
                </div>
            </div> <!-- Solo -->
        </div>

        {#    {% for i in '123456789' %}#}
        {#    <div class="card mx-auto m-3 w-75">#}
        {#        <div class="card-body">#}
        {#            <h5 class="card-title">Frage {{ forloop.counter0|add:1 }}</h5>#}
        {#            <h6 class="card-subtitle m-2 text-muted">Subtitle 1</h6>#}
        {#            <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler</p>#}
        {#        </div>#}
        {#    </div>#}
        {#    {% endfor %}#}
    </div>

{% endblock %}
