{% extends 'tetris_app/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="canvas-container">
                <a href="javascript:checkStart()">
                    <button type="button" class="btn btn-primary btn-sm" id="button">Start Game</button>
                </a>

                <canvas id="my_canvas" width='1000px' height='1000px'></canvas>
            </div>
        </div>


        <div class="col-4">
            <div class="position-fixed"></div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="../../static/tetris_app/canvas_engine.css"/>
<script type="text/javascript" src="../../static/tetris_app/canvas_engine.js"></script>
{% endblock %}


