{% extends 'tetris_app/base.html' %}
{% load static %}

{% block content %}
    <canvas id="my_canvas" width='1000px' height='1000px' style="height: 1000px; width: 1000px;"></canvas>

    <audio src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Tetris_theme.ogg"></audio>
    <script type="text/javascript">const add_history = "{% url 'set_leaderboard' %}";</script>
    <link rel="stylesheet" href="{% static "css/canvas_engine.css" %}"/>
    <script type="text/javascript" src="{% static "js/canvas_engine.js" %}"></script>
{% endblock %}


