{% extends 'tetris_app/base.html' %}
{% load static %}
{% block content %}
 <!--d-flex flex-column justify-content-around-->
            <div class="row">
                <div class="col">
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <img src="{% static '/tetris_app/black_rock.png'%}" class="card-img-top">   <!--  /static/tetris_app/solo_without_text.png  -->
                        <div class="card-body">
                            <h5 class="card-title">Singleplayer</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur cum cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit, saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="game-solo" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <img src="{% static '/tetris_app/red_block.png'%}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Player versus Player</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur cum cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit, saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <!-- later we have do add actual breakpoints to the height because it looks weir on smaller screens-->
                        <img src="{% static '/tetris_app/purple_block.png'%}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Player versus AI</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur cum cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit, saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 20px">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="ranking-tab" data-bs-toggle="tab"
                                    data-bs-target="#ranking" type="button" role="tab" aria-controls="ranking"
                                    aria-selected="true"
                            >Ranking
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="mmr-tab" data-bs-toggle="tab" data-bs-target="#mmr"
                                    type="button" role="tab" aria-controls="mmr" aria-selected="false">
                                MMR
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="stuff-tab" data-bs-toggle="tab" data-bs-target="#stuff"
                                    type="button" role="tab" aria-controls="stuff" aria-selected="false">
                                Stuff
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="ranking" role="tabpanel"
                             aria-labelledby="ranking-tab">
                            <table class="table table-striped">
                                <!-- class="table table-striped table-hover", class="table-responsive" -->
                                <!-- Now we need actual data to fill these tables :) -->
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mmr" role="tabpanel" aria-labelledby="mmr-tab">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="stuff" role="tabpanel" aria-labelledby="stuff-tab">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>x</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}