<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13TRIS</title>
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'tetris_app/Logo_small.png' %}">
    <link rel="stylesheet" href="{% static 'tetris_app/app.css' %}">
    <link rel="stylesheet" href="{% static 'tetris_app/login-register-view.css' %}">
</head>
<body>
    <img src="/docs/Logo/Logo_full.png" alt="Logo">
    <h2>homepage</h2>
    <button type="button">Solo</button>
    <button type="button">1vs1</button>
    <button type="button">1vsAI</button> <br>

    <br> <br>

    <img src="" alt="userimage">
    <p>username</p>
    <p>status</p>
    <br> <br>
    <h3>friends</h3>

    <img src="" alt="userimage">
    <p>username</p>
    <p>status</p>

    <img src="" alt="userimage">
    <p>username</p>
    <p>status</p>

    <img src="" alt="userimage">
    <p>username</p>
    <p>status</p>

    <br> <br>

    <a href="http://13tris.dkoeck.de/"> Blog </a> <br>
    <a href="./login.html"> Impressum </a> <br>
    <a href="./FAQ.html"> FAQ </a> <br>
    <a href="./datenschutz.html"> Datenschutz </a> <br>

    <br> <br>

    <table>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
            <th>Date
        </th>

        <tr>
            <td>1</td>
            <td>ben</td>
            <td>200</td>
            <td>1.10.21</td>
        </tr>

        <tr>
            <td>2</td>
            <td>mike</td>
            <td>100</td>
            <td>1.9.21</td>
        </tr>
    </table>
</body>
</html>