<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13TRIS</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'tetris_app/Logo_small.png' %}">
    <link rel="stylesheet" href="{% static 'tetris_app/app.css' %}">
    <link rel="stylesheet" href="{% static 'tetris_app/homepage-view.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- <h2>homepage</h2> -->
<div class="container-fluid">
    <div class="row">
        <div class="col"> <!--d-flex flex-column justify-content-around-->
            <div class="row">
                <div class="col">
                    <!-- <img class="img-responsive center-block" src="{% static 'tetris_app/block.png' %}" alt="Solo" %}>
                     <img class="img-responsive center-block" src="{% static 'tetris_app/block.png' %}" alt="1vs1">
                     <img class="img-responsive center-block" src="{% static 'tetris_app/block.png' %}" alt="1vsAI">-->
                    <!-- alternativ als cards statt img-responsive-->
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <img src="{% static 'tetris_app/solo_without_text.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Singleplayer</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur
                                cum
                                cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit,
                                saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <img src="{% static 'tetris_app/1vs1_without_text.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Player versus Player</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur
                                cum
                                cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit,
                                saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 580px; margin-top: 20px">
                        <!-- later we have do add actual breakpoints to the height because it looks weir on smaller screens-->
                        <img src="{% static 'tetris_app/1vsAI_without_text.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Player versus AI</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut
                                consectetur
                                cum
                                cumque dolore dolorum, ducimus eum itaque laboriosam nisi numquam optio qui, quis
                                reprehenderit,
                                saepe sed voluptatem voluptates voluptatum!</p>
                            <a href="" class="btn btn-primary">Play now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 20px">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="ranking-tab" data-bs-toggle="tab"
                                    data-bs-target="#ranking" type="button" role="tab" aria-controls="ranking"
                                    aria-selected="true"
                            >Ranking
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="mmr-tab" data-bs-toggle="tab" data-bs-target="#mmr"
                                    type="button" role="tab" aria-controls="mmr" aria-selected="false">
                                MMR
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="stuff-tab" data-bs-toggle="tab" data-bs-target="#stuff"
                                    type="button" role="tab" aria-controls="stuff" aria-selected="false">
                                Stuff
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="ranking" role="tabpanel"
                             aria-labelledby="ranking-tab">
                            <table class="table table-striped">
                                <!-- class="table table-striped table-hover", class="table-responsive" -->
                                <!-- Now we need actual data to fill these tables :) -->
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>mike</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mmr" role="tabpanel" aria-labelledby="mmr-tab">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>felix</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="stuff" role="tabpanel" aria-labelledby="stuff-tab">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Date
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>marc</td>
                                    <td>100</td>
                                    <td>1.9.21</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="position-fixed">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="{% static 'tetris_app/Logo_full.png' %}" class="img-fluid" alt="Logo">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="usericon">
                            <div class="card-body">
                                <h5 class="username">Username</h5>
                                <p class="card-text">status</p>
                            </div>
                        </div>
                    </li>
                    <!-- Limit the width of the cards or does it look better when they are a little wider?
                         width="8rem" was before -->
                    <li class="list-group-item">
                        <h3>Friends</h3>
                        <div class="card mb-2">
                            <img src="..." class="card-img-top" alt="usericon">
                            <div class="card-body">
                                <h5 class="username">Username</h5>
                                <p class="card-text">status</p>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <img src="..." class="card-img-top" alt="usericon">
                            <div class="card-body">
                                <h5 class="username">Username</h5>
                                <p class="card-text">status</p>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <img src="..." class="card-img-top" alt="usericon">
                            <div class="card-body">
                                <h5 class="username">Username</h5>
                                <p class="card-text">status</p>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <img src="..." class="card-img-top" alt="usericon">
                            <div class="card-body">
                                <h5 class="username">Username</h5>
                                <p class="card-text">status</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <!-- otherwise it wont show because of the stupid position fixed :) -->
                            <a class="link-primary" href="http://13tris.dkoeck.de/">Blog</a>
                            <a class="link-primary" href="impressum-view.html">Imprint</a>
                            <a class="link-primary" href="FAQ-view.html">FAQ</a>
                            <a class="link-primary" href="#">Data Protection</a>
                        </div>
                       <!--  <ul class="list-group borderless" style="list-style: none">
                             <li>
                                 <a href="http://13tris.dkoeck.de/" class="link-primary"> Blog </a> <br>
                             </li>
                             <li>
                                 <a href="" class="link-primary"> Impressum </a> <br>
                             </li>
                             <li>
                                 <a href="./FAQ.html" class="link-primary"> FAQ </a>
                             </li>
                             <li>
                                 <a href="./datenschutz.html" class="link-primary"> Datenschutz </a> <br>
                             </li>
                         </ul>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
