{% extends 'tetris_app/base.html' %}
{% load static %}
{% block content %}
<div class="p-5">
    <H1>Impressum</H1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card m-2 col-lg-5 wm-100 d-flex align-items-center justify-content-center">
                <img src="https://avatars.githubusercontent.com/u/71791731"
                     class="card-img-top shadow-4 m-3"
                     style="width: 150px;"
                     alt="no">
                <h2 class="card-title">Marc G</h2>
                <h6 class="card-subtitle m-2">
                    <a href="https://github.com/MKrabs" class="text-decoration-none btn-sm btn-outline-dark ms-2">Github</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-secondary ms-2">Website</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-danger ms-2">Link</a>
                </h6>
                <div class="card-body">
                    <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler
                        filler filler filler filler filler filler filler filler filler filler filler filler filler</p>
                </div>
            </div>

            <div class="card m-2 col-lg-5 wm-100  d-flex align-items-center justify-content-center">
                <img src="https://avatars.githubusercontent.com/u/72347875"
                     class="card-img-top shadow-4 m-3"
                     style="width: 150px;"
                     alt="no">
                <h2 class="card-title">Felix G</h2>
                <h6 class="card-subtitle m-2">
                    <a href="https://github.com/fgervasi-cell" class="text-decoration-none btn-sm btn-outline-dark ms-2">Github</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-secondary ms-2">Website</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-danger ms-2">Link</a>
                </h6>
                <div class="card-body">
                    <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler
                        filler filler filler filler filler filler filler filler filler filler filler filler filler</p>
                </div>
            </div>

            <div class="card m-2 col-lg-5 wm-100  d-flex align-items-center justify-content-center">
                <img src="https://avatars.githubusercontent.com/u/56353827"
                     class="card-img-top shadow-4 m-3"
                     style="width: 150px;"
                     alt="no">
                <h2 class="card-title">Daniel K</h2>
                <h6 class="card-subtitle m-2">
                    <a href="https://github.com/Axolotl-D" class="text-decoration-none btn-sm btn-outline-dark ms-2">Github</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-secondary ms-2">Website</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-danger ms-2">Link</a>
                </h6>
                <div class="card-body">
                    <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler
                        filler filler filler filler filler filler filler filler filler filler filler filler filler</p>
                </div>
            </div>

            <div class="card m-2 col-lg-5 wm-100  d-flex align-items-center justify-content-center">
                <img src="https://avatars.githubusercontent.com/u/48255412"
                     class="card-img-top shadow-4 m-3"
                     style="width: 150px;"
                     alt="no">
                <h2 class="card-title">Ishaan S</h2>
                <h6 class="card-subtitle m-2">
                    <a href="https://github.com/entrisity" class="text-decoration-none btn-sm btn-outline-dark ms-2">Github</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-secondary ms-2">Website</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-danger ms-2">Link</a>
                </h6>
                <div class="card-body">
                    <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler
                        filler filler filler filler filler filler filler filler filler filler filler filler filler</p>
                </div>
            </div>

            <div class="card m-2 col-lg-5 wm-100  d-flex align-items-center justify-content-center">
                <img src="https://avatars.githubusercontent.com/u/77490237"
                     class="card-img-top shadow-4 m-3"
                     style="width: 150px;"
                     alt="no">
                <h2 class="card-title">Daniel M</h2>
                <h6 class="card-subtitle m-2">
                    <a href="https://github.com/D267-dev" class="text-decoration-none btn-sm btn-outline-dark ms-2">Github</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-secondary ms-2">Website</a>
                    <a href="#" class="text-decoration-none btn-sm btn-outline-danger ms-2">Link</a>
                </h6>
                <div class="card-body">
                    <p class="card-text">filler filler filler filler filler filler filler filler filler filler filler
                        filler filler filler filler filler filler filler filler filler filler filler filler filler</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
