{% extends 'tetris_app/base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Create Lobby</h1>

<div class="container">
    <div class="row" id="invited-players"></div>
    <button type="button" class="btn btn-primary" id="start-btn" hidden>Start Game</button>
</div>

<!-- Modal/Popup window for invitation message -->
<div class="modal fade" id="invitation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You received an invitation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-text-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="invitation-accept">Accept</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Decline</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal/Popup window for kick message -->
<div class="modal fade" id="kick-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You were kicked</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You were kicked from the lobby :(. You will return to your own lobby in a few seconds.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block invite_button %}
<button class="btn btn-primary invite" id="{{friend.username}}">Invite</button>
{% endblock %}

{% block scripts %}
<script src="{% static 'client.js' %}"></script>
{% endblock %}