{% extends 'tetris_app/login-register-base.html' %}
{% load static %}
{% block form %}
<form method="post" action="" novalidate id="register_form">
    {% csrf_token %}
    <div class="mb-3 form-group">
        {{form.username.label}}
        {{form.username}}
        <div id="user-error" class="d-none">Username already taken :(</div>
        <div id="user_pattern" class="d-none">
            The Username must only consist of:<br>
            <ul>
                <li>Latin Letters a-z A-Z</li>
                <li>Numbers from 0-9</li>
                <li>No special characters</li>
                <li>Minimum 3 characters long</li>
            </ul>
        </div>
    </div>
    <div class="mb-3 form-group">
        {{form.password1.label}}
        {{form.password1}}
        <div id="password-error" class="d-none">
            The password must only consist of:<br>
            <ul>
                <li>Starting with a letter</li>
                <li>At least one letter</li>
                <li>At least one digit</li>
                <li>At least one special character or space</li>
                <li>( # ? ! @ $ % ^ & * - )</li>
                <li>Minimum 8 characters long</li>
            </ul>
        </div>
    </div>
    <div class="mb-5 form-group">
        {{form.password2.label}}
        {{form.password2}}
        <div id="confirm-password-error" class="d-none">
            The passwords don't match !
        </div>
    </div>

    {{form.errors}}

    <div class="text-center mb-5">
        <button type="submit" id="registerButton">Register Account</button>
        <div id="registration-error"></div>
    </div>
</form>
<div class="text-center">
    <a class="text-center" href="login">Already have an account? Sign in!</a>
</div>
<script type="text/javascript" src="{% static 'tetris_app/js/AddInputStyleOnLoad.js' %}"></script>
<script type="text/javascript" src="{% static 'tetris_app/js/registry.js' %}"></script>
{% endblock %}

