#my_canvas {
  width: 1000px;
  height: 1000px;
  position: absolute;
}

.container-fluid {
  zoom: 90%;  /*tut nicht*/
}


.canvas-container{
  position: relative;
  width: 1000px;
  height: 1000px;
}

#button {
  position:absolute;
  left:0%;
  top:0%;
  z-index: 1100;
}

body{
  zoom: 0.8;    //For IE, opera, safari and chrome.
  -moz-transform: scale(0.8);   //Only for Firefox
}
