img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    transform: scale(0.7);
}

canvas {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#loginViewContainer {
    background-image: url("./login-view-background-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#signInButton {
    background-color: #59B0BD;
    color: white;
    padding: 18px 50px 18px 50px;
    border: none;
    font-size: larger;
}

#registerButton {
    background-color: #19649F;
    color: white;
    padding: 18px 50px 18px 50px;
    border: none;
    font-size: larger;
}

/* Design for error message */
#registration-error {
    width: 243px;
    margin: 0 auto;
}

.error {
    width: 100%;
    background-color: #9C0000;
    color: white;
    border-radius: 5px;
    padding: 12px;
    margin-top: 0px !important;
}









